root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,csproj,slnx,md,yml,yaml,json,ps1,xaml}]
indent_size = 4

[*.cs]
dotnet_diagnostic.S3990.severity = none
dotnet_diagnostic.S2333.severity = none
dotnet_diagnostic.S5443.severity = none
dotnet_diagnostic.S1172.severity = none
dotnet_diagnostic.S2360.severity = none
dotnet_diagnostic.S1481.severity = none
dotnet_diagnostic.S3257.severity = none

[*.md]
trim_trailing_whitespace = false
